.subscribe {
  padding-bottom: 70px;
  &__wrap {
    @include flexCenter;
    flex-wrap: wrap;
    &--animation {
      @include animFadeIn;
    }
  }
  &__input {
    color: $c-middle-dark-grey;
    display: inline-block;
    min-width: 342px;
    background: $c-white;
    border: 1px solid $c-light-grey;
    border-radius: 4px;
    min-height: 34px;
    padding-left: 15px;
    margin-right: 15px;
    @media (max-width: 540px) {
      margin-bottom: 10px;
      min-width: 80%;
      margin-right: 0;
    }
    &::placeholder {
      color: $c-middle-dark-grey;
    }
  }
}
