@font-face {
  font-family: "DMSansMedium";
  src: url("../fonts/DMSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DMSansBold";
  src: url("../fonts/DMSansBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MetropolisMedium";
  src: url("../fonts/MetropolisMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MetropolisSemiBold";
  src: url("../fonts/MetropolisSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MetropolisBold";
  src: url("../fonts/MetropolisBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MetropolisBlack";
  src: url("../fonts/MetropolisBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "RubikMedium";
  src: url("../fonts/RubikMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
