// colors
$c-white: #fff;
$c-pink: #ed017f;
$c-pink-tr: rgba(237, 1, 127, 0.3);
$c-cream: #ffeaf5;
$c-black: #010101;
$c-light-grey: #ccc;
$c-middle-grey: #999;
$c-middle-dark-grey: #676767;
$c-dark-grey: #343434;
